In [1]:
import numpy as np
import pandas as pd

url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data'
iris_df = pd.read_csv(url, header = None)
print(iris_df)

       0    1    2    3               4
0    5.1  3.5  1.4  0.2     Iris-setosa
1    4.9  3.0  1.4  0.2     Iris-setosa
2    4.7  3.2  1.3  0.2     Iris-setosa
3    4.6  3.1  1.5  0.2     Iris-setosa
4    5.0  3.6  1.4  0.2     Iris-setosa
..   ...  ...  ...  ...             ...
145  6.7  3.0  5.2  2.3  Iris-virginica
146  6.3  2.5  5.0  1.9  Iris-virginica
147  6.5  3.0  5.2  2.0  Iris-virginica
148  6.2  3.4  5.4  2.3  Iris-virginica
149  5.9  3.0  5.1  1.8  Iris-virginica

[150 rows x 5 columns]

In [4]:
s1 = pd.Series(np.arange(10, 15), index = np.arange(5))
s2 = pd.Series(np.arange(20, 25), index = np.arange(100,105))
df1 = pd.DataFrame({'a':s1, 'b':s2})
print(df1)

        a     b
0    10.0   NaN
1    11.0   NaN
2    12.0   NaN
3    13.0   NaN
4    14.0   NaN
100   NaN  20.0
101   NaN  21.0
102   NaN  22.0
103   NaN  23.0
104   NaN  24.0

In [8]:
print(df1.index) # 행
print(df1.columns) # 열
df1.columns = ['col_A', 'col_B']
print(df1)

Int64Index([0, 1, 2, 3, 4, 100, 101, 102, 103, 104], dtype='int64')
Index(['a', 'b'], dtype='object')
     col_A  col_B
0     10.0    NaN
1     11.0    NaN
2     12.0    NaN
3     13.0    NaN
4     14.0    NaN
100    NaN   20.0
101    NaN   21.0
102    NaN   22.0
103    NaN   23.0
104    NaN   24.0

In [20]:
print(df1)
print('***************')
for i in df1: # 순환을 하면 columns값으로 순환을 한다.
    print(i)
print('***************')
print(df1['col_A'])   # columns으로 불러오는 것은 가능하다.
#print(df1['col_A':'col_B']) # 이렇게 범위를 부르면 error가 난다.
#print(df1[1]) # 하나의 값을 줄때도 index를 주면 안되고 columns값을 줘야한다.
print('***************')
print(df1[2:102]) # 범위를 줄꺼면 row의 index를 줘야한다.
print('***************')
print(df1.loc[:, 'col_A']) # row는 : (전체) columns는 col_A만
print('***************')
print(df1.loc[2:102, 'col_A'])
print('***************')
print(df1.iloc[2:102, 0:]) # iloc는 i == index로 주세요라고 하는것이다. 'col_A' == 0으로 해야한다. 무조건 숫자.

     col_A  col_B
0     10.0    NaN
1     11.0    NaN
2     12.0    NaN
3     13.0    NaN
4     14.0    NaN
100    NaN   20.0
101    NaN   21.0
102    NaN   22.0
103    NaN   23.0
104    NaN   24.0
***************
col_A
col_B
***************
0      10.0
1      11.0
2      12.0
3      13.0
4      14.0
100     NaN
101     NaN
102     NaN
103     NaN
104     NaN
Name: col_A, dtype: float64
***************
     col_A  col_B
2     12.0    NaN
3     13.0    NaN
4     14.0    NaN
100    NaN   20.0
101    NaN   21.0
102    NaN   22.0
103    NaN   23.0
104    NaN   24.0
***************
0      10.0
1      11.0
2      12.0
3      13.0
4      14.0
100     NaN
101     NaN
102     NaN
103     NaN
104     NaN
Name: col_A, dtype: float64
***************
2      12.0
3      13.0
4      14.0
100     NaN
101     NaN
102     NaN
Name: col_A, dtype: float64
***************
     col_A  col_B
2     12.0    NaN
3     13.0    NaN
4     14.0    NaN
100    NaN   20.0
101    NaN   21.0
102    NaN   22.0
103    NaN   23.0
104    NaN   24.0